[JavaScript:{ path: "~/DesktopModules/Calculator-Angular8/Script/inline.bundle.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/Calculator-Angular8/Script/polyfills.bundle.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/Calculator-Angular8/Script/styles.bundle.js", priority:100, provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/Calculator-Angular8/Script/vendor.bundle.js", priority:100, provider: "DnnFormBottomProvider}]
[JavaScript:{ path: "~/DesktopModules/Calculator-Angular8/Script/main.bundle.js", priority:100, provider: "DnnFormBottomProvider}]

<!--
[DNNtc.ModuleDependencies(DNNtc.ModuleDependency.CoreVersion, "07.00.00")]
[DNNtc.PackageProperties("Angular5Module", 1, "Angular5 module", "An Angular sample module", "BBAngular.png", "Torsten Weggen", "bitboxx solutions", "http://www.bitboxx.net", "info@bitboxx.net", false)]
[DNNtc.ModuleProperties("Angular5Module", "Angular5 module", 0)]
[DNNtc.ModuleControlProperties("", "Angular5Module", DNNtc.ControlType.View, "", false, false)]
-->
123
[ModuleProperties:All]
<app-root>
    <p>Loading...</p>
</app-root>
<script>window["Angular8Calculator"] = [ModuleProperties: All]</script>
